body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #412234;
}

.header-con {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EAD7D7;
}

.name {
    font-size: 500%;
    text-align: center;
    font-weight: bolder;
}

.title {
    font-size: 200%;
    text-align: center;
    opacity:80%;
}

.links-con {
    display:flex;
    justify-content: center;
    margin-top: 10px;
}

.links {
    font-size: 200%;
    opacity: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50px;
}

.link-text {
    font-size: 40%;
    opacity:0%;
    font-weight: bold;
}

.links:hover {
    opacity: 100%;
    cursor: pointer;
}

.links:hover .link-text {
    opacity:100%;
}

a {
    color: #412234;
    text-decoration: none;
}

.bio-and-tech {
    display:flex;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20px;
}

.bio-con {
    width:50%;
    margin-right: 5%;
}

.bio-header {
    font-size: 200%;
    font-weight: bolder;
    margin-bottom: 15px;
}

.bio-copy {
    font-size: 125%;
    opacity: 80%;
}

.tech-con {
    width:50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    height:fit-content;
}

.tech-icons {
    width: 20%;
    height: auto;
    margin: 5px;
}