body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #412234;
    background-color: #EAD7D7;
}

.about-con {
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 5%;
}

.header-con {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EAD7D7;
    padding-left: 20%;
}

.name {
    font-size: 800%;
    text-align: center;
    font-weight: bolder;
}

.title {
    font-size: 250%;
    opacity:80%;
}

.links-con {
    display:flex;
    margin-top: 10px;
}

.links {
    font-size: 300%;
    opacity: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50px;
    margin-left: 5px;
    margin-right: 5px;
}

.link-text {
    font-size: 40%;
    opacity:0%;
    font-weight: bold;
}

.links:hover {
    opacity: 100%;
    cursor: pointer;
}

.links:hover .link-text {
    opacity:100%;
}

 a {
    color: #412234;
    text-decoration: none;
}

.bio-and-tech {
    display:flex;
    flex-direction: column;
    padding-left: 20%;
    margin-top:10px;
}

.bio-con {
    line-height: 1.6;
    margin-bottom: 5px;
}

p {
    margin:15px;
    margin-left: 0;
}

.bio-copy {
    font-size: 175%;
    opacity: 65%;
}

.tech-icons {
    width: 100px;
    height: auto;
    margin: 10px;
    animation: moveIcons 10s linear infinite;
}

.tech-con {
    display:flex;
    width:450px;
    overflow:hidden;
}

@keyframes moveIcons {
    100% {
        transform:translateX(-960px);
    }
}

.projects-button-con {
    padding-right: 7.5%;
    padding-top: 7.5%;
}

.projects-button {
    background-color: white;
    border-style: none;
    font-size: 150%;
    opacity:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.projects-button:hover {
    opacity: 100%;
    cursor:pointer;
}

.about-button-con {
    padding-left:7.5%;
    padding-top:5%;
}

.projects-con {
    display:flex;
    background-color: white;
    padding-bottom: 5%;
    padding-top:2.5%;
    position: absolute;
    width:100%;
}

.projects-interior-con {
    display:flex;
    padding-left: 8%;
    margin-bottom: 5px;
}

.project-square {
    margin:20px;
}

.project-square:hover {
    transform: scale(1.05);
}

.project-image-con {
    border: 2px solid #412234;
    box-shadow: 0 0 10px #412234;
}

.project-images {
    width: 400px;
    height:250px;
}

.project-name {
    text-align: center;
    margin-top: 10px;
    font-size: 150%;
}

.slide2-enter {
    transform: translateX(+100%);
}

.slide2-enter-active {
    transform: translateX(0);
    transition: transform 500ms;
}

.slide2-exit {
    transform: translateX(0);
}

.slide2-exit-active {
    transform: translateX(+100%);
    transition: transform 500ms;
}

.slide-enter {
    transform: translateX(-100%);
}

.slide-enter-active {
    transform: translateX(0%);
    transition: transform 500ms;
}

.slide-exit {
    transform: translateX(0);
}

.slide-exit-active {
    transform: translateX(-100%);
    transition: transform 500ms;
}