body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #412234;
}

.about-con {
    display:flex;
    justify-content: space-between;
}

.header-con {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EAD7D7;
    padding-left: 20%;
}

.name {
    font-size: 800%;
    text-align: center;
    font-weight: bolder;
}

.title {
    font-size: 250%;
    opacity:80%;
}

.links-con {
    display:flex;
    margin-top: 10px;
}

.links {
    font-size: 300%;
    opacity: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50px;
    margin-left: 5px;
    margin-right: 5px;
}

.link-text {
    font-size: 40%;
    opacity:0%;
    font-weight: bold;
}

.links:hover {
    opacity: 100%;
    cursor: pointer;
}

.links:hover .link-text {
    opacity:100%;
}

a {
    color: #412234;
    text-decoration: none;
}

.bio-and-tech {
    display:flex;
    flex-direction: column;
    padding-left: 20%;
    margin-top:10px;
}

.bio-con {
    line-height: 1.6;
    margin-bottom: 5px;
}

p {
    margin:15px;
    margin-left: 0;
}

.bio-copy {
    font-size: 175%;
    opacity: 65%;
}

.tech-icons {
    width: 100px;
    height: auto;
    margin: 10px;
    animation: moveIcons 10s linear infinite;
}

.tech-con {
    display:flex;
    width:450px;
    overflow:hidden;
}

@keyframes moveIcons {
    100% {
        transform:translateX(-960px);
    }
}

.projects-button {
    background-color: white;
    border-style: none;
    font-size: 150%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    padding-top:5%;
    opacity:65%;
}